.callToAction{
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  height: 15rem;
  background-color: black;
}

.callToAction span{
  align-self: center;
  margin: 2rem auto 1rem auto;
  font-size: 30px;
  font-family: abel;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px #0e1e3d ;
}

#callToAction{
  margin: auto;
  align-self: center;
  justify-content: center;
  margin-top: 5rem;
  border-radius: 10px;
  background-color: white;
  border: 5px solid white;
  margin: 0 auto;
  height: 7rem;
  width: 15rem;
  font-family: abel;
  font-size: 25px;
  color: #0e1e3d;
}

#callToAction:hover{
  border: solid 5px #3872bf;
}

#callToAction:active{
  background-color: LightGrey;
}

#userForm{
  width:40%;
}

#userForm1{
  padding-top: 5rem;
  padding-left: 10rem;
  padding-bottom: 5rem;
  padding-right: 10rem;
}

#callToActionForm{
  color: black;
  font-family: abel;
  font-size: 25px;
}

.formTitle{
  color: #0e1e3d;
  font-family: abel;
  margin-top: 5rem;
  font-size: 25px;
  font-weight: bolder;
}

.formText{
  color: #0e1e3d;
  font-family: abel;
  font-size: 25px;
  font-weight: bold;
}

#inputForm{
  margin: 1rem auto;
}

#inputForm input{
  width: 100%;
}

#submitButton, #closeButton{
  margin: 0 auto;
  border: 4px solid #3872bf;
  border-radius: 10px;
  background-color: white;
  color: #0e1e3d;
  font-family: abel;
  font-weight: bold;
  font-size: 25px;
}

#submitButton:active, #closeButton:active{
  background-color: LightGrey;
}

.w3-modal{
  font-family: abel;
  font-weight: bold;
}

.w3-modal p{
  font-size: 20px;
}

.w3-modal h2{
  font-family: abel;
  font-weight: bold;
  text-align: center;
}

.w3-modal a{
  font-size: 19px
}

.w3-modal-content{
  width:80%;
}

.w3-modal .w3-container{
  border: 6px solid #3872bf;
  border-radius: 15px;
  padding: 2rem;
}

@media only screen and (max-width : 480px) {

  .w3-modal-content{
    width:60%;
    margin-top: 3rem;
  }

  #userForm1{
  padding: 1rem;
  }

}
