@import url('w3.css');

/*header stytling*/
header{
  width: 100%;
  overflow-y: hidden;
}

/*body styling*/
body{
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*title styling*/
#title{
  width:100%;
  position:absolute;
  top:1%;
  right:0;
  z-index:10;
}

#title img{
  margin:0;
  width:20%;
  position:relative;
  right:0;
  background: radial-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255,255,255,0.35) 80%);
  border-radius: 5px;

}

/*top blurb styling*/
.topBlurb{
  width: 80%;
  margin: 3em auto;
  font-family: abel;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0e1e3d;
  text-shadow: 0 0 3px DimGrey;
  text-align: center;
}


.pictureTable{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row{
  flex-basis: 100%;
  position: relative;
  display:flex;
  flex: 1;
  justify-content: space-between;
  z-index: 2
}

.circle{
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 20;
  height: 1.5rem;
  width: 1.5rem;
  border:  5px solid #3872bf;
  border-radius: 50%;
  background-color: white;
}

.line{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 5.1px solid #3872bf;
  height: 100%;
  z-index: 19;
}

.row:nth-child(1) .line{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.row:nth-child(4) .line{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.images{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blurbs{
  flex: initial;
  align-self: stretch;
  flex-basis: 50%;
  box-sizing: border-box;
  height: 20rem;
  z-index: 3;
  padding: 4%;
}

.blurbs h1{
  font-family: abel;
  color: #0e1e3d;
  text-shadow: 0 0 3px DimGrey;
  font-weight: bold;
  margin-top: 3rem;
}

.blurbs p{
  margin-top: 0;
  font-family: abel;
  color: #0e1e3d;
  text-shadow: 0 0 3px DimGrey;
  font-size: 25px;
}

#pic1, #pic2, #pic3, #pic4{
  flex: initial;
  margin: auto;
  flex-basis: 45%;
  box-sizing: border-box;
  border-radius: 10px;
}

#blurb1, #blurb3 h1{
    text-align: left;
}

#blurb2, #blurb4 p{
    text-align: left;
}


#blurb2, #blurb4 h1{
    text-align: right;
}

#blurb2, #blurb4 p{
  text-align: right;
}

.callToAction{
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  height: 15rem;
  background: linear-gradient(#3872bf, #88c2ff);
}

.callToAction span{
  align-self: center;
  margin: 2rem auto 1rem auto;
  font-size: 30px;
  font-family: abel;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px #0e1e3d ;
}

#callToAction{
  margin: auto;
  align-self: center;
  justify-content: center;
  margin-top: 5rem;
  border-radius: 10px;
  background-color: white;
  border: 5px solid white;
  margin: 0 auto;
  height: 5rem;
  width: 20rem;
  font-family: abel;
  font-size: 25px;
  color: #0e1e3d;
}

#callToAction:active{
  background-color: LightGrey;
}


.w3-container{
  border: 6px solid #3872bf;
  border-radius: 15px;
  padding: 1rem;
}

.w3-modal-content{
  width:25%;
}

#callToActionForm{
  color: #0e1e3d;
  font-family: abel;
  font-size: 25px;
}

.formTitle{
  color: #0e1e3d;
  font-family: abel;
  margin-top: 5rem;
  font-size: 25px;
  font-weight: bolder;
}

.formText{
  color: #0e1e3d;
  font-family: abel;
  font-size: 25px;
  font-weight: bold;
}

#inputForm{
  margin: 1rem auto;
}

#inputForm input{
  width: 100%;
}

#submitButton, #closeButton{
  margin: 0 auto;
  border: 4px solid #3872bf;
  border-radius: 10px;
  background-color: white;
  color: #0e1e3d;
  font-family: abel;
  font-weight: bold;
  font-size: 25px;
}

#submitButton:active, #closeButton:active{
  background-color: LightGrey;
}




/*footer styling*/
footer{
  height: 6%;
  width: 100%;
}

/*copyright styling*/
#copyright{
  width: 79%;
  margin-top: 5%;
  margin-right: auto;
  margin-bottom: 1%;
  margin-left: auto;
  text-align: right;
}

#copyright span{
  font-family: abel;
  font-size: 20px;
  font-weight: lighter;
  color: DarkGray;
}

/*clear float*/
.pictureTable::after{
  content:"";
  display:block;
  clear:both;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  header{
    height: 50vh;
  }

  body{
    margin:0;
  }

  /*logo styling*/
  #title{
    width: 100%;
    height: auto;
    z-index: 10;
  }
  #title img{
    width: 25%;
    position: absolute;
    right: 73%;
    margin-left: 1rem;
    display:block;
    margin: 0 auto;
  }

  /*pictureTable*/
  .pictureTable{
    width: 100%;
  }

  #blurb1, #blurb2, #blurb3, #blurb4{
    margin-top: 1rem;
  }

  #blurb1, #blurb2, #blurb3, #blurb4 h1{
      text-align: left;
  }

  #blurb1, #blurb2, #blurb3, #blurb4  p{
      text-align: left;
  }

  #blurb2, #blurb4{
    position: absolute;
    top: 18.5%;
    left: 3%;
  }

  #blurb1, #blurb3{
    position: absolute;
    bottom: 25.5%;
    left: 3%;
  }

  .blurbs h1{
    font-size: 25px;
    color: AliceBlue;
    text-shadow: 1px 1px 2px #0e1e3d, 2px 2px 6px black;
  }

  .blurbs p{
    font-size: 15px;
    color: AliceBlue;
    text-shadow: 1px 1px 2px #0e1e3d, 2px 2px 6px black;
  }

  .w3-modal-content{
    width:80%;
  }

  .w3-container{
    border: 6px solid #3872bf;
    border-radius: 15px;
    padding: 2rem;
  }

  /*copyright styling*/
  #copyright{
  margin-top: 10%;
  }

  #copyright span{
    font-size: 16px;
    color: DarkGray;
  }

  .topBlurb{
    font-size: 25px;
    letter-spacing: .5px;
    text-shadow: none;
    font-weight: 800;
  }

  #pic1, #pic2, #pic3, #pic4{
    overflow: hidden;
    margin-bottom: 0;
  }

  .circle{
    justify-content: center;
    position: absolute;
    left: 2%;
    top: 55%;
    transform: translateX(-50%);
    margin: auto;
    z-index: 20;
    height: .8rem;
    width: .8rem;
    border:  2px solid #3872bf;
    border-radius: 50%;
    background-color: white;
  }

  .line{
    position: absolute;
    left: 2%;
    transform: translateX(-50%);
    border: 2px solid #3872bf;
    height: 120%;
    z-index: 19;
  }

  .row{
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  #pic1, #pic2, #pic3, #pic4{
    flex: initial;
    margin: auto;
    flex-basis: 90%;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .blurbs{
    flex: initial;
    align-self: stretch;
    flex-basis: 90%;
    box-sizing: border-box;
    height: 8rem;
    z-index: 3;
    padding: 4%;
    width:95%;
  }


}



/* tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 481px) and (max-width : 1024px) {

  /*logo styling*/
  #title{
    width: 100%;
    height: auto;
    z-index: 10;
  }
  #title img{
    width: 20%;
    position: absolute;
    right: 79%;
    margin-left: 1rem;
    display:block;
    margin: 0 auto;
  }

  /*blurb styling*/
  .blurb{
    width:95%;
  }

  /*pictureTable*/
  .pictureTable{
    width: 95%;
  }

  .row h1{
    margin-top: 2rem;
  }

  .blurbs p{
    font-size: 20px;
  }

  /*copyright styling*/
  #copyright{
  margin-top: 10%;
  }

  #copyright span{
    font-size: 16px;
    color: DarkGray;
  }

  .topBlurb{
    font-size: 20px;
    letter-spacing: .5px;
  }




}
